> loop
   > for
      > nested for loop
      > single for loop for pattern
      > nested for loop for pattern
      > list comprehension
      > dictionary comprehension
      > set comprehension
      > tuple comprehension(exception it generate a generator object)
> while
      > nested while loop
      > single while loop for pattern
      > nested while loop for pattern

In [1]:
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")

hello world
hello world
hello world
hello world
hello world

iterable: a datatype which contain a magic method or dundur method(def__iter__()), called iterable

int
float
str
list
tuple
set
frozenset
dict
complex
bool

In [2]:
a=str()

In [3]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [37]:
for i in range(5):
    print("hi akash",end=" ")
    print("abc")

hi akash abc
hi akash abc
hi akash abc
hi akash abc
hi akash abc

In [2]:
for i in [1,2,3,4,5]:
    print("hi akash")

hi akash
hi akash
hi akash
hi akash
hi akash

In [42]:
for i in [1,2,3,4,5]:
    print(i,"hi akash")

1 hi akash
2 hi akash
3 hi akash
4 hi akash
5 hi akash

In [3]:
for i in range(10):
    print("hi akash")

hi akash
hi akash
hi akash
hi akash
hi akash
hi akash
hi akash
hi akash
hi akash
hi akash

In [5]:
for i in range(10):
    print(i,"hi akash")

0 hi akash
1 hi akash
2 hi akash
3 hi akash
4 hi akash
5 hi akash
6 hi akash
7 hi akash
8 hi akash
9 hi akash

In [6]:
for i in range(2,10):
    print(i,"hi akash")

2 hi akash
3 hi akash
4 hi akash
5 hi akash
6 hi akash
7 hi akash
8 hi akash
9 hi akash

In [7]:
for i in range(1,10):
    print(i,"hi akash")

1 hi akash
2 hi akash
3 hi akash
4 hi akash
5 hi akash
6 hi akash
7 hi akash
8 hi akash
9 hi akash

In [9]:
for i in range(0,10,2):
    print(i,"hi akash")

0 hi akash
2 hi akash
4 hi akash
6 hi akash
8 hi akash

In [10]:
for i in range(10,0,-1):
    print(i,"hi akash")

10 hi akash
9 hi akash
8 hi akash
7 hi akash
6 hi akash
5 hi akash
4 hi akash
3 hi akash
2 hi akash
1 hi akash

In [11]:
for i in range(10,1,-1):
    print(i,"hi akash")

10 hi akash
9 hi akash
8 hi akash
7 hi akash
6 hi akash
5 hi akash
4 hi akash
3 hi akash
2 hi akash

In [27]:
for i in range(10,1,-1):
    print(i,"hi akash")

10 hi akash
9 hi akash
8 hi akash
7 hi akash
6 hi akash
5 hi akash
4 hi akash
3 hi akash
2 hi akash

In [41]:
for i in range(5):
    print("hi akash")
    print("rajput")

hi akash
rajput
hi akash
rajput
hi akash
rajput
hi akash
rajput
hi akash
rajput

In [40]:
for i in range(5):
    print("hi akash",end=" ")
    print("rajput")

hi akash rajput
hi akash rajput
hi akash rajput
hi akash rajput
hi akash rajput