> loop
   > for
      > break
      > continue
      > pass
      > nested for loop
      > pattern
           > single for loop for pattern
           > nested for loop for pattern
      > list comprehension
      > dictionary comprehension
      > set comprehension
      > tuple comprehension(create generator)
> while
      > nested while loop
      > pattern
         > single while loop for pattern
         > nested while loop for pattern
         > multiloop pattern

In [1]:
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")

hello world
hello world
hello world
hello world
hello world

In [3]:
2 in range(5)  #[0,1,2,3,4]

True

In [2]:
3 in range(5)  #[0,1,2,3,4]

True

In [4]:
5 in range(5)   #[0,1,2,3,4]

False

In [37]:
for i in range(5):
    print("hi akash",end=" ")
    print("abc")

hi akash abc
hi akash abc
hi akash abc
hi akash abc
hi akash abc

In [2]:
for i in [1,2,3,4,5]:
    print("hi akash")

hi akash
hi akash
hi akash
hi akash
hi akash

In [42]:
for i in [1,2,3,4,5]:
    print(i,"hi akash")

1 hi akash
2 hi akash
3 hi akash
4 hi akash
5 hi akash

In [3]:
for i in range(10):
    print("hi akash")

hi akash
hi akash
hi akash
hi akash
hi akash
hi akash
hi akash
hi akash
hi akash
hi akash

iterable: a datatype which contain a magic method or dunder method(def__iter__()), called iterable

example: list,tuple,set,frozenset,dict

datatype:

int
float
str
list
tuple
set
frozenset
dict
complex
bool

In [5]:
a=(0)
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [6]:
a=set()
dir(a)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [7]:
a=frozenset()
dir(a)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [5]:
for i in range(10):
    print(i,"hi akash")

0 hi akash
1 hi akash
2 hi akash
3 hi akash
4 hi akash
5 hi akash
6 hi akash
7 hi akash
8 hi akash
9 hi akash

In [6]:
for i in range(2,10):
    print(i,"hi akash")

2 hi akash
3 hi akash
4 hi akash
5 hi akash
6 hi akash
7 hi akash
8 hi akash
9 hi akash

In [7]:
for i in range(1,10):
    print(i,"hi akash")

1 hi akash
2 hi akash
3 hi akash
4 hi akash
5 hi akash
6 hi akash
7 hi akash
8 hi akash
9 hi akash

In [9]:
for i in range(0,10,2):
    print(i,"hi akash")

0 hi akash
2 hi akash
4 hi akash
6 hi akash
8 hi akash

In [10]:
for i in range(10,0,-1):
    print(i,"hi akash")

10 hi akash
9 hi akash
8 hi akash
7 hi akash
6 hi akash
5 hi akash
4 hi akash
3 hi akash
2 hi akash
1 hi akash

In [10]:
for i in range(10,0,-1):
    print(i,"hi akash")

10 hi akash
9 hi akash
8 hi akash
7 hi akash
6 hi akash
5 hi akash
4 hi akash
3 hi akash
2 hi akash
1 hi akash

In [9]:
for i in range(10,1,-1):
    print(i,"hi akash")

10 hi akash
9 hi akash
8 hi akash
7 hi akash
6 hi akash
5 hi akash
4 hi akash
3 hi akash
2 hi akash

In [41]:
for i in range(5):
    print("hi akash")
    print("rajput")

hi akash
rajput
hi akash
rajput
hi akash
rajput
hi akash
rajput
hi akash
rajput

In [1]:
for i in range(5):
    print("hi akash",end=" ")
    print("rajput")

hi akash rajput
hi akash rajput
hi akash rajput
hi akash rajput
hi akash rajput

#

# continue(always work inside loop)

# break(always work inside loop)

# pass

# continue

In [2]:
for i in range(10):
    print(i,"hi akash")

0 hi akash
1 hi akash
2 hi akash
3 hi akash
4 hi akash
5 hi akash
6 hi akash
7 hi akash
8 hi akash
9 hi akash

In [27]:
for i in range(5):
    if i==2:
        continue
    print(i,"hi akash")

0 hi akash
1 hi akash
3 hi akash
4 hi akash

In [28]:
for i in range(10):
    if i==2:
        continue
    print(i,"hi akash")

0 hi akash
1 hi akash
3 hi akash
4 hi akash
5 hi akash
6 hi akash
7 hi akash
8 hi akash
9 hi akash

In [29]:
for i in range(10):
    if i==2 or i==5 or i==8:
        continue
    print(i,"hi akash")

0 hi akash
1 hi akash
3 hi akash
4 hi akash
6 hi akash
7 hi akash
9 hi akash

In [40]:
for i in range(10):
    if i in [3,6,9]:
        continue
    print(i,"hi akash")

0 hi akash
1 hi akash
2 hi akash
4 hi akash
5 hi akash
7 hi akash
8 hi akash

In [45]:
for i in "akash":
    if i in "ak":
        continue
    print(i,"akash")

s akash
h akash

# break

In [3]:
for i in range(10):
    if i in [6]:
        break
    print(i,"hi akash")

0 hi akash
1 hi akash
2 hi akash
3 hi akash
4 hi akash
5 hi akash

In [5]:
for i in range(10):
    print(i,"hi akash")
    if i in [6]:
        break

0 hi akash
1 hi akash
2 hi akash
3 hi akash
4 hi akash
5 hi akash
6 hi akash

In [6]:
for i in range(10):
    if i==6:
        break
    print(i,"hi akash")

0 hi akash
1 hi akash
2 hi akash
3 hi akash
4 hi akash
5 hi akash

In [7]:
for i in range(10):
    if i==1 or i==3:
        continue
    if i in [6]:
        break
    print(i,"hi akash")

0 hi akash
2 hi akash
4 hi akash
5 hi akash

# pass

In [8]:
if 10==10:
    print("10 is equal to 10")
else:
    print("bye")
print("i am akash")

10 is equal to 10
i am akash

In [9]:
if 10==9:
    print("10 is equal to 10")
else:
    print("bye")
print("i am akash")

bye
i am akash

In [12]:
if 10==10:
    
else:
    print("bye")
print("i am akash")

IndentationError: expected an indented block after 'if' statement on line 1 (905404155.py, line 3)

In [13]:
if 10==10:
    pass
else:
    print("bye")
print("i am akash")

i am akash

In [14]:
for i in range(5):
    pass

print("hello world")

hello world

In [15]:
for i in range(5):
    if i==3:
        break
    print(i,"hi akash")

print("hello world")

0 hi akash
1 hi akash
2 hi akash
hello world